# Lab-1 Assignment

### 1. Write a Python program(WAPP) to input any two integers, and provide a menu to the user to select any of the options as add, subtract, multiply, divide and display the result accordingly.

In [1]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))

print("1. Add \n2. Subtract \n3. Divide \n 4.Multiply")
ch=int(input("Enter choice : "))

if(ch==1):
    print(a+b)
elif(ch==2):
    print(a-b)
elif(ch==3):
    print(a/b)
elif(ch==4):
    print(a*b)

Enter first number : 5
Enter second number : 2
1. Add
2. Subtract
3. Divide
 4.Multiply
Enter choice : 2
3

### 2. WAPP to check if a year is leap year or not.

In [3]:
year=int(input("Enter a year : "))

if(year%4==0):
    print(year," is a leap year.")
else:
    print(year, " is not a leap year.")

Enter a year : 2017
2017  is not a leap year.

### 3. WAPP to convert temperature from centigrade to Fahrenheit scale.

In [5]:
cel=float(input("Enter temperature in Celsius : "))

fah = cel*(9/5)+32
print("Fahrenheit = ", fah)

Enter temperature in Celsius : 50
Fahrenheit =  122.0

### 4. WAPP to add two times in hour, minute & second format entered through the keyboard.

In [10]:
print("First time :")

h1=int(input("Enter Hour: "))
m1=int(input("Enter minutes: "))
s1=int(input("Enter sec: "))

print("Second, time")
h2=int(input("Enter Hour: "))
m2=int(input("Enter minutes: "))
s2=int(input("Enter sec: "))

h3=h1+h2+(m1+m2+(s1+s2)//60)//60
m3=(m1+m2+(s1+s2)//60)%60
s3=(s1+s2)%60

print("Added Time :")
print(h3,"hr :", m3, "min :", s3,"sec")

First, time
Enter Hour: 12
Enter minutes: 133
Enter sec: 123
Second, time
Enter Hour: 3
Enter minutes: 234
Enter sec: 234
Added Time:
21 hr : 12 min : 57 sec

### 5. WAPP to check given number is Armstrong or not.

In [11]:
num=int(input("Enter a 3 digit Number : "))

orgNum=num

sum=0
while num>0:
    digit=num%10
    sum+=digit ** 3
    num//=10
    
if orgNum==sum:
    print(orgNum, "is Armstrong Number")
else:
    print(orgNum, "is not Armstrong Number")

Enter a 3 digit Number : 409
409 is not Armstrong Number

### 6. WAPP to find out the factors of a number.

In [14]:
num=int(input("Enter a Number : "))

print("Factors of ", num, "are: ")
for i in range(2, num+1):
    if num%i==0:
        print(i)

Enter a Number : 20
Factors of  20 are:
2
4
5
10
20

### 7. WAPP to print all even number between 100 to 200 using loop.

In [7]:
for i in range(100, 200):
    if(i%2==0):
        print(i, end=" ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198

### 8. WAPP to find LCM of 2 numbers using while loop.

In [15]:
a = int(input("Enter first Number : "))
b = int(input("Enter second Number : "))

maxNum = max(a, b)

lcm=maxNum

while True:
    if lcm%a==0 and lcm%b==0:
        break
    lcm+=maxNum
    
print("LCM of ", a, " and ", b, " = ", lcm)

Enter first Number : 5
Enter second Number : 20
LCM of  5  and  20  =  20

### 9. WAPP to findout the distance between two coordinates (x1, y1) & (x2, y2).

In [17]:
import math
x1, y1=float(input("Enter x1 : ")), float(input("Enter y1 : "))
x2, y2=float(input("Enter x2 : ")), float(input("Enter y2 : "))

distance = math.sqrt((x2-x1) ** 2+ (y2-y1) ** 2)

print("Distance : ", distance)

Enter x1 : 11
Enter y1 : 12
Enter x2 : 32
Enter y2 : 4
Distance :  22.47220505424423

### 10. WAPP to find the multiplication table of any number using for loop.

In [10]:
num=int(input("Enter a Number : "))

#To print table
for i in range(1, 11):
    print(num, "x", i, "=", num*i)

Enter a Number : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### 11. WAPP to find Volume and Surface Area of Cylinder.

In [18]:
import math
radius = float(input("Enter radius : "))
height = float(input("Enter height : "))
vol = math.pi * radius ** 2 * height
area = 2 * math.pi * radius * (radius + height)

print("Surface area =", area)
print("Volume =", vol)

Enter radius : 7
Enter height : 15
Surface area = 967.6105373056563
Volume = 2309.070600388498

### 12. WAPP to find the roots of a quadratic equation  ax2 + bx + c = 0.

In [20]:
import math

def quadratic_roots(a, b, c):
    discriminant = b**2 - 4*a*c
    sqrt_discriminant = math.sqrt(abs(discriminant))
    
    if discriminant >= 0:
        root1 = (-b + sqrt_discriminant) / (2*a)
        root2 = (-b - sqrt_discriminant) / (2*a)
        if discriminant > 0:
            return root1, root2
        else:
            return root1
    else:
        real_part = -b / (2*a)
        imaginary_part = sqrt_discriminant / (2*a)
        root1 = complex(real_part, imaginary_part)
        root2 = complex(real_part, -imaginary_part)
        return root1, root2

# User Input
a = float(input("Enter the coefficient 'a': "))
b = float(input("Enter the coefficient 'b': "))
c = float(input("Enter the coefficient 'c': "))

roots = quadratic_roots(a, b, c)
print("The roots of the quadratic equation are:")
for i in range(len(roots)):
    print(f"Root {i+1}: {roots[i]}")

Enter the coefficient 'a': 4
Enter the coefficient 'b': 8
Enter the coefficient 'c': 2
The roots of the quadratic equation are:
Root 1: -0.2928932188134524
Root 2: -1.7071067811865475

### 13. KIIT DU has following rules for grading system:
#### http://coe.kiit.ac.in/examination-regulations.php#R1
#### WAPP to enter your marks of any 5 courses of 2 semesters through keyboard print the corresponding grade.
### Calculate SGPA for each semester and overall CGPA.

In [ ]:
def calculate_credit_point(marks, credits):
    if marks >= 90:
        return 10 * credits
    elif 80 <= marks < 90:
        return 9 * credits
    elif 70 <= marks < 80:
        return 8 * credits
    elif 60 <= marks < 70:
        return 7 * credits
    elif 50 <= marks < 60:
        return 6 * credits
    else:
        return 0

def calculate_semester_sgpa(marks_list):
    total_credits = 0
    total_credit_points = 0

    print("\nEnter marks for 5 courses :\n")
    for course in marks_list:
        marks = int(input())
        credit_point = calculate_credit_point(marks, course['credits'])

        total_credits += course['credits']
        total_credit_points += credit_point

    sgpa = total_credit_points / total_credits
    return sgpa

def calculate_cgpa(semesters):
    total_credit_points = 0
    total_credits = 0

    for semester in semesters:
        total_credit_points += semester['credit_points']
        total_credits += semester['total_credits']

    cgpa = total_credit_points / total_credits
    return cgpa

def main():
    semesters = []

    for semester_num in range(1, 3):  # Two semesters
        marks_list = []
        total_credits_semester = 0

        print("Semester -", semester_num)
        for course_num in range(1, 6):  # 5 courses per semester
            course_name = input(f"Course-{course_num} name: ")
            credits = int(input(f"Credits for {course_name}: "))
            total_credits_semester += credits

            marks_list.append({'name': course_name, 'credits': credits})

        semester_sgpa = calculate_semester_sgpa(marks_list)
        semesters.append({'semester': semester_num, 'credit_points': semester_sgpa * total_credits_semester, 'total_credits': total_credits_semester})

    overall_cgpa = calculate_cgpa(semesters)

    print("\nSemester-wise SGPA:")
    for i, semester in enumerate(semesters):
        print(f"Semester {semester['semester']} SGPA: {semester['credit_points'] / semester['total_credits']:.2f}")

    print(f"\nOverall CGPA: {overall_cgpa:.2f}")

if __name__ == "__main__":
    main()

### 14. A student will not be allowed to sit in exam if his/her attendence is less than 70%.
### Take following input from user:
### • Number of classes held
### • Number of classes attended
### Print percentage of class attended and check the student is allowed to sit in exam or not.

In [21]:
# Input from the user
classes_held = int(input("Enter the number of classes held: "))
classes_attended = int(input("Enter the number of classes attended: "))

attend_percent = (classes_attended / classes_held) * 100

if attend_percent >= 70:
    print(f"Percentage of classes attended: {attend_percent:.2f}%")
    print("The student is allowed to sit in the exam.")
else:
    print(f"Percentage of classes attended: {attend_percent:.2f}%")
    print("The student is not allowed to sit in the exam due to low attendance.")

Enter the number of classes held: 50
Enter the number of classes attended: 40
Percentage of classes attended: 80.00%
The student is allowed to sit in the exam.

### 15. High Radius Company decided to give bonus of 10% to employee if his/her year of service is more than 5 years.
### • Enter salary and year of service from keyboard and print the net bonus amount.
### • Determine oldest and youngest among 3 employees by taking input(from user) of their age.

In [22]:
def calculate_bonus(salary, years_of_service):
    if years_of_service > 5:
        bonus_percentage = 10
        bonus_amount = (bonus_percentage / 100) * salary
        return bonus_amount
    else:
        return 0

def find_age():
    ages = [int(input(f"Enter age of employee {i+1}: ")) for i in range(3)]
    oldest_age = max(ages)
    youngest_age = min(ages)
    return oldest_age, youngest_age

# Input for salary and years of service
salary = float(input("Enter employee's salary: "))
yearsOfService = int(input("Enter employee's years of service: "))

# Calculate and print bonus
bonus = calculate_bonus(salary, yearsOfService)
print(f"Net Bonus Amount: ${bonus:.2f}")

# Determine and print oldest and youngest employees' ages
oldest, youngest = find_age()
print(f"Oldest employee is {oldest} years old.")
print(f"Youngest employee is {youngest} years old.")

Enter employee's salary: 6000
Enter employee's years of service: 7
Net Bonus Amount: $600.00
Enter age of employee 1: 41
Enter age of employee 2: 34
Enter age of employee 3: 26
Oldest employee is 41 years old.
Youngest employee is 26 years old.

# HOME EXERCISE (HE)

### 1. WAPP to convert a quantity in meter entered through keyboard into its equivalent kilometre and meter as per the following format. Example. 2430 meter = 2 Km and 430 meter.

In [3]:
quantity = int(input("Enter the quantity in meters: "))

# Conversion
kilometers = quantity // 1000
remaining_meters = quantity % 1000

print(f"{quantity} meters = {kilometers} Km and {remaining_meters} meters.")

Enter the quantity in meters: 2430
2430 meters = 2 Km and 430 meters.

### 2. WAPP to print sum of all prime number between 1 to n using loop.

In [1]:
# Input for the value of n
n = int(input("Enter the value of n : "))
prime_sum = 0

for i in range(2, n + 1):
    is_prime = True

    for j in range(2, int(i**0.5) + 1):
        if i % j == 0:
            is_prime = False
            break

    if is_prime:
        prime_sum += i

print(f"The sum of all prime numbers between 1 and {n} is: {prime_sum}")

Enter the value of n : 10
The sum of all prime numbers between 1 and 10 is: 17

### 3. WAPP to display the reverse of a number entered through keyboard.

In [ ]:
# Input for the number
num = int(input("Enter a number: "))
rev = 0
while num > 0:
    rem = num % 10
    rev = rev * 10 + rem
    num //= 10

print(f"The reverse of {num} is: {rev}")

### 4. WAPP to convert a decimal number into its equivalent number with base b. Decimal number and b are the user input.

In [17]:
def decimal_to_base(decimal_num, base):
    if not (2 <= base <= 16):
        return "Invalid base. Please enter a base between 2 and 16."

    result = ""
    while decimal_num > 0:
        remainder = decimal_num % base
        result = str(remainder) + result
        decimal_num //= base

    return result if result else "0"


decimal_number = int(input("Enter the decimal number: "))
base = int(input("Enter the base (between 2 and 36): "))

result = decimal_to_base(decimal_number, base)
print(f"The equivalent number of {decimal_number} in base {base} is: {result}")

Enter the decimal number: 100
Enter the base (between 2 and 36): 16
The equivalent number of 100 in base 16 is: 64

### 5. WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)

In [15]:
def calculate_series_sum(n):
    total_sum = 0
    current_sum = 0

    for i in range(1, n + 1):
        current_sum += i
        total_sum += current_sum

    return total_sum



n = int(input("Enter the value of n: "))

result = calculate_series_sum(n)
print(f"The sum of the series S = 1 + (1+2) + (1+2+3) + ... + (1+2+3+...+n) is: {result}")

Enter the value of n: 5
The sum of the series S = 1 + (1+2) + (1+2+3) + ... + (1+2+3+...+n) is: 35