# LIST

In [1]:
# List is mutable

## 1. Creating a List

In [2]:
# List of same data type
l1 = [2, 1, 0, 5, 3, 4, 6, 9]
print(l1)
type(l1)

[2, 1, 0, 5, 3, 4, 6, 9]

list

In [3]:
# List can contain different data types
l2 = ["Suraj Kumar Sah", 21053469, 9.28]
print(l2)
type(l2)

['Suraj Kumar Sah', 21053469, 9.28]

list

In [4]:
# Using list() constructor

l3=list((2,1,0,5,3,4,6,9))
print(l3)
type(l3)

[2, 1, 0, 5, 3, 4, 6, 9]

list

In [5]:
# Modifying List
l2[0] = "Suraj Sah"
print(l2)

['Suraj Sah', 21053469, 9.28]

## 2. Slicing a List

In [6]:
# Slicing

l4 = [2, 1, 0, 5, 3, 4, 6, 9]

print(l4[:])
print(l4[0:])
print(l4[:-1])

#Reverse
print("Reverse:",l4[::-1])

print(l4[0:6:2])
print(l4[::2])

[2, 1, 0, 5, 3, 4, 6, 9]
[2, 1, 0, 5, 3, 4, 6, 9]
[2, 1, 0, 5, 3, 4, 6]
Reverse: [9, 6, 4, 3, 5, 0, 1, 2]
[2, 0, 3]
[2, 0, 3, 6]

In [7]:
# Multiple Assignment
print(l4)
l4[1:4] = [1, 2, 3]
print(l4)

[2, 1, 0, 5, 3, 4, 6, 9]
[2, 1, 2, 3, 3, 4, 6, 9]

## 3. Appending a List

In [8]:
print(l1)

l1.append("Appended")

print(l1)

[2, 1, 0, 5, 3, 4, 6, 9]
[2, 1, 0, 5, 3, 4, 6, 9, 'Appended']

# Appending list from user input

In [9]:
l=[]
choice = 'Y'
while(choice=='Y' or choice=='y'):
    num = int(input("Enter a Number: "))
    l.append(num)
    choice = input("Do you want to continue (y/n): ")
    
print(l)

Enter a Number: 4
Do you want to continue (y/n): y
Enter a Number: 5
Do you want to continue (y/n): n
[4, 5]

In [10]:
# insert(position, value)

print(l1)
l1.insert(0, 0)

print(l1)

[2, 1, 0, 5, 3, 4, 6, 9, 'Appended']
[0, 2, 1, 0, 5, 3, 4, 6, 9, 'Appended']

In [11]:
# extend()

l1=['a', 'b']
l2=[1, 2, 3]

l1.extend(l2)

print(l1)

['a', 'b', 1, 2, 3]

In [12]:
# remove() ->remove first occured element

print(l1)
l1.remove(3)
print(l1)

['a', 'b', 1, 2, 3]
['a', 'b', 1, 2]

In [13]:
# pop()

print(l1)

l1.pop(2)
print(l1)

['a', 'b', 1, 2]
['a', 'b', 2]

In [14]:
# del

l1=[1,2,3,4,6]
print(l1)
del l1[2]
print(l1)


# delete all list
del l1

[1, 2, 3, 4, 6]
[1, 2, 4, 6]

## Looping through List

In [15]:
# for loop

l1=[1, 2, 3, 4, 5, 6, 7, 8]

for i in l1:
    print(i, end=" ")
    
    
print()

for index in range(len(l1)):
    print(l1[index], end = " ")

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8

In [16]:
# creating list from another list

l1=[1, 2, 3, 4, 5, 6]
l2=[]

for index in range(len(l1)):
    l2.append(l1[index]*2)
    
    
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10, 12]

In [17]:
# creating list from another list
l3=[]

for i in range(1, 11):
    l3.append(i**2)
    
    
print(l3)

import math
l4 = []
for i in range(1, 11):
    l4.append(int(math.pow(i, 3)))
    

print(l4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

##  List Comprehensions

In [18]:
# Concise way of creating list
# l1 = [expression for i in iterable if condition]

l1 = [i**2 for i in range(1, 11)]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
marks = [20, 91, 67, 89]

grade = ["O" if i>=90 else "E" if i>=80 else "A" if i>=70 else "B" if i>=60 else "C" if i>=50 else "D" for i in marks]

print(grade)

['D', 'O', 'B', 'E']

In [20]:
# count()

l1=[1, 2, 3, 4, 5, 6, 1, 2, 3, 8 ,2]
print(l1)


print(l1.count(2))

print(l1.index(2))

[1, 2, 3, 4, 5, 6, 1, 2, 3, 8, 2]
3
1

## Sorting the list

In [21]:
# sort()

l1 = [2,1,0,5,3,4,6,9]
print(l1)

l1.sort()

print(l1)


#in reverse order
l1.sort(reverse = True)

print(l1)

[2, 1, 0, 5, 3, 4, 6, 9]
[0, 1, 2, 3, 4, 5, 6, 9]
[9, 6, 5, 4, 3, 2, 1, 0]

In [22]:
l2=['BRJ', 'Bara', 'Parsa', "Biratnagar"]

print(l2)
l2.sort()
print(l2)

l2.sort(reverse=True)
print(l2)

['BRJ', 'Bara', 'Parsa', 'Biratnagar']
['BRJ', 'Bara', 'Biratnagar', 'Parsa']
['Parsa', 'Biratnagar', 'Bara', 'BRJ']

In [23]:
# copy()

l3=l1.copy()
print(l1)
print(l3)

[9, 6, 5, 4, 3, 2, 1, 0]
[9, 6, 5, 4, 3, 2, 1, 0]

## Joining Two List

In [24]:
print(l1)
print(l2)

l3=l1+l2
print(l3)

[9, 6, 5, 4, 3, 2, 1, 0]
['Parsa', 'Biratnagar', 'Bara', 'BRJ']
[9, 6, 5, 4, 3, 2, 1, 0, 'Parsa', 'Biratnagar', 'Bara', 'BRJ']

# TUPLE

In [25]:
'''
Store different data types
Tuples are immutable
Duplicates are allowed
'''

t1={3, 4, 6, 9, 'Suraj', 9.28}

print(t1)

{3, 4, 6, 'Suraj', 9, 9.28}

In [26]:
t2=(9.28) # same as t2=9.28
print(t2)
type(t2)

#Single element
t3=(9.28,)
type(t3)

9.28

tuple

In [27]:
#Using tuple() constructor
print(l1)
t1 = tuple((3, 4, 9, 0, 3, 6, 9, l1, True))
print(t1)

[9, 6, 5, 4, 3, 2, 1, 0]
(3, 4, 9, 0, 3, 6, 9, [9, 6, 5, 4, 3, 2, 1, 0], True)

### Note: Slicing and Accessing the data elements in Tuple is same as in List

## Searching element in Tuple

In [28]:
# index()
print(t1)

print("index = ",t1.index(3))

print("count =", t1.count(3))

(3, 4, 9, 0, 3, 6, 9, [9, 6, 5, 4, 3, 2, 1, 0], True)
index =  0
count = 2

## Adding element to a Tuple

In [29]:
# convert the tuple to a list and append and then make a tuple again

t1=(1, 2, 3, 4)

print(t1)

l1 = list(t1)
print(l1)
type(l1)
l1.append("Appended")
print(l1)

t1 = tuple(l1)

print(t1)
type(t1)

(1, 2, 3, 4)
[1, 2, 3, 4]
[1, 2, 3, 4, 'Appended']
(1, 2, 3, 4, 'Appended')

tuple

## Concatenation of two Tuples

In [30]:
t2 = (0, 1, -1)
print(t1)
print(t2)

print()
t1=t1+t2

print(t1)

(1, 2, 3, 4, 'Appended')
(0, 1, -1)

(1, 2, 3, 4, 'Appended', 0, 1, -1)

In [31]:
# length of tuple
t2=(1, 2, 3,4 , 5)
t2.__len__()

5

In [32]:
print(max((1, 2, 3, 4, 6, 7, 8)))
print(min(1, 2, 3, 4, 6, 7, 8))

8
1

### NOTE: Traversing in Tuple is same as List

###