# LAB-2 Assignment (Jan-20)

### 1. Write a Python Program to count the number of lowercase and uppercase letters in a string.

In [1]:
str1="KIIT University"
lower=0
upper=0
for i in str1:
    if i.islower():
        lower+=1
    if i.isupper():
        upper+=1
print(f"Lowercase = {lower} \nUppercase = {upper}")

Lowercase = 9
Uppercase = 5

### 2. Write a Python Program to count the number of digits and characters in a string.

In [2]:
str2="KIIT University, 21053469"
num=0
char=0
for i in str2:
    if i.isdigit():
        num+=1
    if i.isalpha():
        char+=1
print(f"Digits = {num} \nCharacters = {char}")

Digits = 8
Characters = 14

### 3. Write a Python Program to calculate the length of a string without using a library function.

In [3]:
str3 = "Suraj"
len=0
for i in str3:
    len+=1
print(f"Length of '{str3}' = {len}")

Length of 'Suraj' = 5

### 4. Write a Python Program to take two strings and display the smallest string without using library function.

In [ ]:
str1=input("Enter first String : ")
str2=input("Enter second String : ")
len1, len2=0, 0
for i in str1:
    len1+=1
for i in str2:
    len2+=1

if len1<len2:
    print(f"'{str1}' is smaller than '{str2}'")
elif len1>len2:
    print(f"'{str2}' is smaller than '{str1}'")
else:
    print(f"'{str1}' and '{str2}' are equal")

### 5.  Write a Python program to count the occurrences of each word in a given string sentence

In [ ]:
str1="Suraj Kumar Sah"
str2=str1.split()

for i in str2:
    print(f"Count of {i} = {str1.count(i)}")

### 6. Write a Python program to reverse a string.

In [ ]:
str1="KIIT"
rev = str1[::-1]
print(rev)

# 7. Write a Python program to print the following pattern.

In [ ]:
'''
i. 
AAAAA
BBBBB
CCCCC
DDDDD
EEEEE
'''

row=int(input("Enter row number : "))
str1='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
for i in range(row):
    for j in range(row):
        print(str1[i], end="")
    print()

In [ ]:
'''
ii. 
A
BB
CCC
DDDD
EEEEE
'''

row=int(input("Enter row number : "))
str1='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
for i in range(row+1):
    print(str1[:i], end=" ")
    print()

In [ ]:
'''
iii.
EDCBA
EDCB
EDC
ED
E
'''

row=int(input("Enter row number : "))
str1='EDCBA'
for i in range(row):
    print(str1[:row-i], end=" ")
    print()

In [ ]:
'''
iv.
      P
     PR
    PRA
   PRAB
  PRABH
 PRABHU
'''

word = "PRABHU"
length = len(word)

for i in range(length):
    spaces = " " * (length - i - 1)
    substring = word[:i + 1]
    print(spaces + substring)

In [ ]:
'''
v.
12345
 1234
  123
   12
    1
'''

row = int(input("Enter row number : "))

for i in range(rows):
    spaces = " " * (2 * i)
    numbers = " ".join(str(j) for j in range(1, rows - i + 1))
    print(spaces + numbers)

In [ ]:
'''
vi.
    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

'''
rows = 5

for i in range(rows):
    spaces = " " * (rows - i - 1)
    characters = "".join(chr(ord('A') + j) for j in range(2 * i + 1))
    print(spaces + characters)

In [ ]:
'''
vii.
    1
   321
  54321
 7654321
987654321

'''
rows = 5
num = 1

for i in range(rows):
    spaces = " " * (rows - i - 1)
    numbers = "".join(str(num - j) for j in range(2 * i + 1))
    print(spaces + numbers)
    num += 2

In [ ]:
'''
viii.
*********
**** ****
***   ***
**     **
*       *

'''

rows = 5
for i in range(rows):
    stars_left = "*" * (rows - i)
    spaces = " " * (2 * i)
    stars_right = "*" * (rows - i)
    print(stars_left + spaces + stars_right)

In [ ]:
'''
ix.
A B C D E
 A B C D
  A B C
   A B
    A
'''

rows = 5
for i in range(rows):
    spaces = " " * i
    characters = " ".join(chr(ord('A') + j) for j in range(rows - i))
    print(spaces + characters)